.hipster {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -10px;
    width: 130px;
    height: 100px;
    background: url('../../../content/images/conicet-logo.png') no-repeat center;
    background-size: cover;
}
