<div class="row">
    <div class="col-md-2">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-10">
        <h1 class="display-4">Welcome to GIPMO Online</h1>
        <b>
            GIPMO Online generates optimization applications, with no installation required!
        </b>
    </div>
</div>
<div [ngSwitch]="isAuthenticated()">
    <hr/>
    <div *ngSwitchCase="true">
        <h3>Using GIPMO Online with GitHub/GitLab, to get the full experience</h3>
        <ul>
            <li><a routerLink="/git">Step 1: Configure GIPMO Online to access your GitHub/GitLab account</a></li>
            <li><a routerLink="/generate-application">Step 2: Use GIPMO Online to generate an application on GitHub/GitLab</a></li>
            <li><a routerLink="/design-entities">Step 3: Use the GIPMO Studio to add entities to your application</a></li>
            <li><a routerLink="/ci-cd">Step 4: Set up continuous integration for your application</a></li>
        </ul>
        <h3>Using GIPMO Online to simply download a zipped application</h3>
        <ul>
            <li><a routerLink="/generate-application">Step 1: Use GIPMO Online to generate an application</a></li>
            <li><a routerLink="/design-entities">Step 2: Use the GIPMO Studio to design entities</a></li>
        </ul>
    </div>
</div>
